{%include 'header.html'%}
{% load static%}
<link rel="stylesheet" href="{%static 'css/aboutus.css'%}">
<body style="background-image: url({% static 'images/2.png' %})">
	

	<section class="service">
		<div class="box-main">
			<div class="firstHalf">
				<h1 class="h-primary center" style=
                "margin-top:30px;text-align:center;">About US</h1>
				<h3 class="text-small" style="text-decoration:none;color:white;
                margin-top:30px;text-align:center;" >
					Here you will get to know the team
					members of our company
            </h3>

				<br>
				
				<h3 class="center" style = "text-align:center;"><a href="#Order"
					style="text-decoration:none;color:white;text-align:center;">
					Below are the people who
					works in our company</a>
                </h3>

			</div>
		</div>
	
		<h1 class="h-primary center" style="margin-top:0px;text-align:center;">
			Our Team
		</h1>
		
		<div id="service" >
			<div class="box" style ="text-align:center;" >
                <img src="{% static 'images/atul.jfif'%}"  width="100%" height="40%">
				<p class="center">
					<a href="#xyz"
						style="text-decoration:none;color:black;
						font-weight:bold;font-family: 'Langar', cursive;text-align:center;">
						ATUL KUMAR 
					</a>
				</p>

				<img src="{% static 'images/div.jfif'%}"  width="100%" height="40%">
				<p class="center">
					<a href="#xyz"
						style="text-decoration:none;color:black;
						font-weight:bold;font-family: 'Langar', cursive;text-align:center;"">
						DIVYANSH TRIVEDI
					</a>
				</p>

                <img src="{% static 'images/ceo.jfif'%}"  width="100%" height="40%">
				<p class="center">
					<a href="#xyz"
						style="text-decoration:none;color:black;
						font-weight:bold;font-family: 'Langar', cursive;">
						Ashutosh Dixit
					</a>
				</p>

			</div>
		</div>
	</section>
	
	<footer class="background"> 
		<p class="text-footer" style="text-align:center;">
			Copyright ©-All rights are reserved
		</p>

	</footer>
</body>

</html>
